{%extends 'base.html'%}

{%load static %}
{% block homeactive %} active {% endblock homeactive %}
{% block title %} Biography {% endblock %}
{%block content%}
<br><br>
<div class = 'container'>
  
    <a href="https://www.facebook.com/"><img src="{% static '/images/FBZ.PNG' %}"alt="Img"><a class="active" href="#album4"></a>
    
    <a href="https://www.instagram.com/"><img src="{% static '/images/YY.PNG' %}"alt="Img"><a class="active" href="#album4"></a>
    
    <a href="https://twitter.com/home//"><img src="{% static '/images/TWTTER.PNG' %}"alt="Img"><a class="active" href="#album4"></a>
    
      <br>
							
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 ">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-1">
                    <div class="card-header justify-content-center">
                      


						

<ul class="list-unstyled">
<li class="media">
<img class="mr-3" src="{% static '/images/GG1.jpg' %}" alt="Generic placeholder image">
<div class="media-body">
									
<h2>Nizara Sabovic</h2>
							
							
<p>- Born August 15 in Rozaje 1965 (Montenegro).<br>
										
										
Study education trips:<br>
								
- 1991. Prague<br>
- 1995. Paris / France<br>
- 2008. Konyua / Turkey<br>
- 2019. New York / USA
</p>

										
</div>
</li>
<li class="media my-4">
 <img class="mr-3" src="{% static '/images/GG2.jpg' %}" alt="Generic placeholder image">
 <div class="media-body">
										
<h5 class="mt-0 mb-1">Eduction</h5>
										
<p>	
- 1981 - 1985<br> Marko Radevic High School Podgorica / Montenegro
- 1987 - 1992<br>Faculty of Philosophy in Niksic - professor of sociology
- 1993 - 1996 <br>School of Painting and Drawing Podgorica / Montenegro
- 2008 - 2010<br> School of Painting and Drawing Sarajevo / Bosnia and Herzegovina	
</p>


										
</li>
<li class="media">
 <img class="mr-3" src="{% static '/images/GG3.jpg' %}" alt="Generic placeholder image">
<div class="media-body">

<h5 class="mt-0 mb-1">Solo exhibitions:</h5>
<p>	
- Berlin- Germany Prima Center Berlin January 28 - February 10, 2011<br>
- Hamburg - Germany Marziart Internationale Galerie 01.06. - 30. 06. 2011.<br>
- Sarajevo - Public Institution Center for Culture “Sarajevo 20.04. - 30.04. 2012<br>
- Oslo - Norwegian Embassy of BiH I25.11. - 03.12.<br>
- Sweden - Islamic Center of BiH 06.05- 05-06 2019 2014.<br>
- Richmond hill Cultural Center - New York, 24 .01.2020 - 30.01.2020.	
</p>
</li>
<li class="media">
<img class="mr-3" src="{% static '/images/GG4.jpg' %}" alt="Generic placeholder image">
<div class="media-body">
<h5 class="mt-0 mb-1"> Group exhibitions:</h5>
											 
<p>
												
					
- 1995. Exhibition of the School of Painting and Drawing Podgorica / Montenegro<br>
- 2009. Exhibition of the School of Painting and Drawing Sarajevo / Bosnia and Herzegovina<br>
- 2010. Exhibition of the School of Painting and Drawing Sarajevo / Bosnia and Herzegovina<br>
- 2012. AM Rathaus in Berlin.<br>
- 2019. SEPTEMBER ART SALON - Rozaje<br>
- 2019. Exhibition HKDLU Napredak in Sarajevo<br>
- 2020. International Exhibition "Art without Borders"<br>
- 2020. Exhibition HKDLU Napredak in Sarajevo<br>
- 2020. SEPTEMBER ART SALON - Rozaje<br>
- 2021. Exhibition HKDLU Napredak in Sarajevo<br>
- 2021. Exhibition HKDLU Napredak in Tuzla<br>
- 2021. Exhibition HKDLU Napredak in Brcko<br>
From 2019. is a member of the art association HKDLU Napredak in Sarajevo
												
											
</p>
</li>
											
	
{%endblock content%}