{% extends 'base.html' %}

{% block title %} Edit Blog Post {% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
<div class="container mt-4">
{{ form.as_p }}
<button class="btn btn-primary">Update Blog</button>
</div>


</form>
{% endblock %}



